@media screen and (max-width: 767px) {
    .headerTypeArea {
        width: 100%;
    }
    .typeArea {
        width: 100%;
        margin: 0 auto;
    }
    .homePagebg {
        background: url(../images/homePageBj.jpg) no-repeat 59% 100%/cover fixed;
    }
    header .bar {
        display: none;
    }
    header .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        margin: 0 auto;
    }
    header .nav .bar2 li {
        height: 8%;
        width: 70%;
        text-align: center;
        border-bottom: 1px solid aquamarine;
    }
    header .nav .bar2 li a {
        display: block;
        width: 100%;
        height: 100%;
    }
    header .nav .bar2 li:hover {
        background-color: cadetblue;
        border-bottom: 1px solid rgb(247, 126, 126);
    }
    .phone {
        display: block;
        z-index: 999;
    }
    #carNav:checked+.bar2 {
        left: 0;
        width: 75%;
    }
    .at {
        display: block;
    }
    .at:hover .phone {
        color: rgb(10, 175, 240);
    }
    /* header .logo::after {
        left: 0;
        top: 100%;
    } */
    main .myself {
        align-content: flex-start;
        height: 100%;
    }
}


/* 小屏幕 */

@media screen and (min-width: 768px) {
    .headerTypeArea {
        width: 768px;
    }
    .typeArea {
        width: 700px;
        margin: 0 auto;
    }
    main .myself {
        align-content: flex-start;
        height: 100%;
    }
}


/* 中等屏幕 */

@media screen and (min-width: 992px) {
    .headerTypeArea {
        width: 992px;
    }
    .typeArea {
        width: 900px;
        margin: 0 auto;
    }
    main .myself {
        align-content: flex-start;
        height: 100%;
    }
}


/* 大屏幕 */

@media screen and (min-width: 1200px) {
    .headerTypeArea {
        width: 1200px;
    }
    .typeArea {
        width: 1000px;
        margin: 0 auto;
    }
}