header {
    height: 50px;
    width: 100%;
    background-color: skyblue;
}

header .nav {
    display: flex;
    height: 100%;
    margin: 0 auto;
}

header .logo {
    width: 15%;
    height: 100%;
}

header .bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}