body,
html,
ul,
li,
ol,
p,
span,
a,
div,
em,
i,
form,
input,
label,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
    border: 0;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .headerTypeArea {
        width: 100%;
    }
    .typeArea {
        width: 100%;
        margin: 0 auto;
    }
    header .bar {
        display: none;
    }
    header .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        margin: 0 auto;
    }
    .phone {
        display: block;
        color: aquamarine;
        margin-right: 30px;
    }
    .phone:hover+.bar2 {
        left: 0;
        width: 75%;
    }
    .bar2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        align-content: stretch;
        position: absolute;
        top: 0;
        left: -20%;
        width: 0%;
        height: 100%;
        background-color: rgb(170, 243, 1);
        overflow: hidden;
        transition: width 0.5s ease;
        z-index: 55;
    }
    .bar2 li {
        overflow: hidden;
    }
    .user {
        width: 100px;
        height: 100px;
        margin: 0;
        background-color: skyblue;
        border-radius: 50%;
    }
    header .logo::after {
        left: 0;
        top: 100%;
    }
}


/* 小屏幕 */

@media screen and (min-width: 768px) {
    .headerTypeArea {
        width: 768px;
    }
    .typeArea {
        width: 700px;
        margin: 0 auto;
    }
}


/* 中等屏幕 */

@media screen and (min-width: 992px) {
    .headerTypeArea {
        width: 992px;
    }
    .typeArea {
        width: 900px;
        margin: 0 auto;
    }
}


/* 大屏幕 */

@media screen and (min-width: 1200px) {
    .headerTypeArea {
        width: 1200px;
    }
    .typeArea {
        width: 1000px;
        margin: 0 auto;
    }
}