@font-face {
    font-family: "iconfont";
    /* Project id 3209487 */
    src: url('iconfont.woff2?t=1646307033573') format('woff2'), url('iconfont.woff?t=1646307033573') format('woff'), url('iconfont.ttf?t=1646307033573') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: aliceblue;
}

.icon-yangshi:before {
    content: "\e632";
}

.icon-html:before {
    content: "\f1d0";
}

.icon-suanfaku:before {
    content: "\e623";
}

.icon-kuangjia:before {
    content: "\e603";
}

.icon-js:before {
    content: "\e60d";
}

.icon-claw:before {
    content: "\e600";
}

.icon-lianxiwomen:before {
    content: "\e675";
}

.icon-shenghuo:before {
    content: "\e605";
}

.icon-jieshao:before {
    content: "\e618";
}

.icon-dati:before {
    content: "\e60e";
}

.icon-a-zu33:before {
    content: "\e60a";
}